.example-card {
    max-width: 800px;
    display:block;
    margin:0 auto;
  }
  
  .example-header-image {
    background-image: url('https://media.wired.com/photos/593261cab8eb31692072f129/master/w_2560%2Cc_limit/85120553.jpg');
    background-size: cover;
  }
  